@page "/account/register"
@using Microsoft.AspNetCore.Identity

@inject UserManager<ApplicationUser> _userManager
<h3>Register</h3>

@code {
	protected override async Task OnInitializedAsync()
	{
		var user = new ApplicationUser
		{
			UserName = "Tai",
			Email = "phantantai9800@gmail.com",
			PhoneNumber = "123456789",
			
		};

		var result = await _userManager.CreateAsync(user, "Tai9800@@");
	}
}
